.tools button {
    margin-right: 15px;
}

.pencil-button {
    background-image: url("pencil.jpg");
}

.eraser-button {
    background-image: url("eraser.jpg");
}

.brush-size-slider {
    width: 200px; 
}

#main-container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sub-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#videos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#canvas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    flex: 1;
}

#chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    flex: 1;
}

.tools{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


#messages {
    width: 80%;
    height: 400px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
    font-size: 20px; /* 设置文字大小 */
    margin: 10px auto;
}

#drawing-board{
    border-style: solid;
    border-width: 5px;
}